@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
body {
  font-family: sans-serif;
  background: #252329;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Quicksand", sans-serif;
}

main {
  padding: 3rem 0;
}

a {
  text-decoration: none;
  color: #2f80ed;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.button {
  border: 1px solid #bdbdbd;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;

  &.primary {
    background: #2f80ed;
    border-color: #2f80ed;
  }
  &.danger {
    background-color: rgb(121, 11, 33);
    border-color: rgb(121, 11, 33);
  }
}

h1 {
  font-weight: bold;
}

p {
  color: #bdbdbd;
  font-size: 0.9rem;

  &.error {
    color: crimson;
  }
}

form {
  padding: 1rem;
  .group {
    margin: 0.5rem 0;
    border-radius: 8px;
    position: relative;
  }

  input,
  textarea {
    border: 1px solid #bdbdbd;
    display: block;
    background-color: transparent;
    outline: none;
    min-width: 20rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;

    &::placeholder {
      font-size: 0.9rem;
      color: #bdbdbd;
    }
  }
  textarea {
    resize: none;
    min-height: 5rem;
  }
  button {
    margin: 1rem 0;
    width: 100%;
  }
}
