.chat {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;

  button {
    outline: none;
    border: none;
    cursor: pointer;
  }
  .messages {
    padding: 0 1rem 1rem;
    overflow: auto;
  }
  .message {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;

    .text {
      margin-top: 0.5rem;
    }
  }

  form {
    padding: 0;
    display: block;
    margin: 1rem;

    .group {
      background: #3c393f;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      padding: 0.5rem 1rem;
      margin: 0;
    }
    input {
      border: none;
      padding-right: 1rem;
      padding-left: 1rem;
    }
    button {
      background-color: transparent;
      background: #2f80ed;
      border-radius: 8px;
      width: max-content;
      padding: 0.5rem 0.7rem;
      margin: 0;
    }
  }

  @media all and (min-width: 800px) {
    & {
      margin-left: 324px;
    }
  }
}
