.chat {
  width: 100%;

  button {
    outline: none;
    border: none;
    cursor: pointer;
  }
  .messages {
    margin-top: -1rem;
    overflow-y: auto;
    height: 100vh;
    padding: 5rem 1rem 6rem 1rem;
    overflow: auto;
  }

  > form {
    padding: 0.87rem 1rem;
    display: block;
    background: red;
    background: #252329;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0;
    width: 100%;

    .group {
      background: #120f13;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      padding: 0.5rem 1rem;
      margin: 0;
    }
    input {
      border: none;
      padding: 0;
    }
    button {
      width: max-content;
      margin: 0;
    }
    .writing {
      font-size: 0.8rem;
    }
  }

  @media all and (min-width: 800px) {
    & {
      margin-left: 324px;

      > form {
        width: calc(100% - 324px);
      }
      .menu {
        display: none;
      }
    }
  }
}
