.message {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: grid;
  min-height: 7rem;

  &.deleted {
    color: #bdbdbd;
    font-style: italic;
  }
  .top {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .text {
    margin-top: 0.5rem;
  }
  .date {
    font-size: 0.7rem;
  }
  .links {
    margin: auto 0 0 auto;
    font-size: 0.8rem;
    display: flex;
    gap: 1rem;
  }

  form {
    display: grid;
    padding: 0;
    margin: 0;
    input {
      border: inherit;
      background: #120f13;
      padding: 1rem 0.5rem;
      margin-bottom: 1rem;
    }
    button {
      width: max-content;
      margin: 0;
    }
  }
}
