.topbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #252329;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  button {
    background-color: transparent;
    padding: 0.7rem;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-size: 0.8rem;
    position: relative;
    z-index: 7;
  }
}
