.form {
  padding: 0;
  .group {
    border: 1px solid #bdbdbd;
  }

  input {
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 1.3rem;
  }
}
