.form {
  .group {
    margin: 0.5rem 0;
  }
  input,
  label {
    display: block;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(27, 27, 112);
    border-radius: 0.5rem;
    min-width: 20rem;
    width: 100%;
    padding: 0.5rem;
  }

  .button {
    margin-top: 1rem;
    width: 100%;
  }
}
