.header {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    display: inline-block;

    &.signup {
      background-color: crimson;
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin-left: 2rem;
      color: white;
    }
    &.login {
      color: crimson;
    }

    span {
      color: crimson;
    }
  }
}
