.channel {
  height: 100vh;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-rows: auto 1fr auto;

  button {
    outline: none;
    border: none;
    cursor: pointer;
  }
  .messages {
    padding: 0 1rem;
  }
  .message {
    background: #252329;
    padding: 1rem;
    border-radius: 1rem;

    .top {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .name {
      color: rgb(196, 196, 196);
    }
  }

  form {
    padding: 0;
    display: block;
    margin: 1rem;
    .group {
      background: #3c393f;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      padding: 0.5rem 1rem;
      margin: 0;
    }
    input {
      border: none;
      padding-right: 1rem;
      padding-left: 1rem;
    }
    button {
      background-color: transparent;
      background: #2f80ed;
      border-radius: 8px;
      width: max-content;
      padding: 0.5rem 0.7rem;
      margin: 0;
    }
  }
}
