.member {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  &.online::after {
    content: "";
    background-color: chartreuse;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0.2rem;
    left: 2.2rem;
  }
  img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .name {
    color: rgb(196, 196, 196);
    font-size: 0.9rem;
  }
}
