.sidebar {
  background: #120f13;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  z-index: 3;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &.show {
    width: 100%;
  }
  .top {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    height: 59px;
    display: flex;

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
      img {
        width: 0.5rem;
        margin-top: 0.2rem;
      }
    }
  }
  .body {
    padding: 2rem 1rem;
    overflow: auto;
  }
  .current-channel {
    margin-bottom: 1rem;
    h1 {
      margin-bottom: 1rem;
    }
  }
  .current-channel-members {
    margin-top: 3rem;
  }
  .members {
    margin: 1rem 0;
    display: grid;
    gap: 1rem;
  }

  .account {
    padding: 1rem;
    background: #0b090c;
  }

  @media all and (min-width: 800px) {
    &,
    &.show {
      width: 324px;
    }
  }
}
