.profile {
  min-height: 100vh;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #252329;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    a {
      text-decoration: none;
      display: inline-block;
      &.logo {
        img {
          width: 6rem;
        }
      }
      &.button {
        margin-left: 1rem;
      }
      &.login {
        color: rgb(27, 27, 112);
      }
    }
  }

  .error {
    margin-top: 1rem;
  }
  h1 {
    font-size: 2rem;
  }

  main {
    padding: 1rem;
  }

  .info-box {
    width: 100%;
    margin-top: 2rem;
    border: 1px solid #120f13;
    border-radius: 12px;

    overflow: hidden;
    .row {
      padding: 1rem;
      border-bottom: 1px solid #120f13;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 4rem;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        border-top: none;
      }
      &:last-child {
        border: none;
      }
    }

    .right p {
      color: white;
      font-weight: bold;
      text-align: right;
    }
  }

  form {
    .button {
      width: max-content;
      display: inline-block;
    }
  }

  @media all and (min-width: 800px) {
    & {
      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
      }
    }
  }
}
