.header {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    display: inline-block;

    &.button {
      margin-left: 2rem;
    }
    &.login {
      color: rgb(27, 27, 112);
    }
  }
}
